certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
check-manifest==0.37
devpi-client==4.3.0
devpi-common==3.3.1
filelock==3.0.10
idna==2.8
pip-autoremove==0.9.1
pkg-resources==0.0.0
pkginfo==1.5.0.1
pluggy==0.9.0
py==1.8.0
pycparser==2.19
pytool==3.12.0
requests==2.21.0
simplejson==3.16.0
six==1.12.0
toml==0.10.0
tox==3.8.4
urllib3==1.24.1
virtualenv==16.4.3
